body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.navbar {
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 10px;
}


.navbar-link {
  margin: 0 10px;
  color: goldenrod;
  text-decoration: none;
}

.navbar-link.active {
  font-weight: bold;
}


.home-page {
  background-color: rgb(251, 219, 239);
}


.countries-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center; 
  gap: 20px;
}

.country-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.country-item:last-child {
  margin-right: 0; 
}


.country-item strong {
  font-weight: bold;
}

.countries-container {
  background-color:rgb(1, 126, 126);
  height: 100vh;
  display: flex;
  flex-direction: column;
  
}


.search-bar {
  margin-bottom: 20px;
}


/* .first-header, .second-header, .search-bar {
  background-color: #ccc;
  flex-direction: column;
} */

.first-header,
.second-header,
.search-bar {
  background-color: lightgray;
  padding: 15px;
  margin-bottom: 20px;
}



.games-page {
  background-color: rgb(251, 219, 239);
  height: 80vh;
  flex-direction: column;
}

/* .matches-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(0, 1fr);
  grid-gap: 20px;
  height: 100vh; /* Adjust the height as needed */
  /* overflow-y: auto;
} */ 



.match-item, .grid-label {
  background-color: rgb(189, 215, 214);
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}





